<div class="top-menu">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses">

  <app-course-card *ngFor="let course of courses" [course]="course" (courseSelected)="onCourseSelected($event)">

    <div>
      <p>some content</p>
    </div>

    <app-course-image [src]="course.iconUrl"></app-course-image>

    <div class="course-description" #courseDesc>
      {{course.longDescription}}>
    </div>

    <div>
      <p>some content</p>
    </div>

  </app-course-card>

</div>