<div class="top-menu">
  <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses salmon-theme" *ngIf="courses$ | async as courses" #container >

  <div class="demo">
    <h4 i18n="welcome message. | Greet the user a greeting at the beginning of the course. @@welcomeMessage">Welcome tothe Angular Core Course</h4>
    <button (click)="onEditCourse()" i18n>Edit Course</button>
    <div i18n>{ coursesTotal, plural, =0 {No courses available.} =1 {One course is available.} other {A total of {{coursesTotal}} courses are available.} }</div>
  </div>

  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{courseName}} has no image yet.</p>
    <img src="/assets/empty-image.png">
  </ng-template>


  <app-course-card 
    *ngFor="let course of (courses | filterByCategory: 'BEGINNER'); index as i"
    [appHighlighted] = false
    #highlighter="hl"
    [course]="course" 
    [cardIndex]="i+1" 
    [noImageTpl]="blankImage" 
    (courseSelected)="onCourseSelected($event)" 
    (toggleHighlight)="onToggle($event)"
    (courseChanged) ="save($event)"
    #cardCompRef>

    <div>
      <p>some content</p>
    </div>

    <app-course-image *ngFor="let iconUrl of course.iconUrls; index as i" [iconUrl]="course.iconUrls[i]" #imgComRef></app-course-image>


    <div class="course-description" #courseDesc (dblclick)="highlighter.toggle()">
      {{course.longDescription}}>
    </div>

    <div>
      <p>some content</p>
    </div>

  </app-course-card>

</div>